# maximal read length 
max_rd_len=120 

# Reads ..94
[LIB]
avg_ins=400
reverse_seq=0
asm_flags=3
rank=1
rd_len_cutoff=100
pair_num_cutoff=3
map_len=32
q1=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819794.trim_1P.fastq.gz
q2=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819794.trim_2P.fastq.gz
q=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819794.trim_1U.fastq.gz
q=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819794.trim_2U.fastq.gz

# Reads	..95
[LIB]
avg_ins=800
reverse_seq=0
asm_flags=3
rank=1
rd_len_cutoff=100
pair_num_cutoff=3
map_len=32
q1=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819795.trim_1P.fastq.gz
q2=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819795.trim_2P.fastq.gz
q=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819795.trim_1U.fastq.gz
q=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819795.trim_2U.fastq.gz

# Reads ..96
[LIB]
avg_ins=9000
reverse_seq=1
asm_flags=2
rank=1
rd_len_cutoff=100
pair_num_cutoff=5
map_len=35
q1=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819796.trim_1P.fastq.gz
q2=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819796.trim_2P.fastq.gz
q=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819796.trim_1U.fastq.gz
q=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819796.trim_2U.fastq.gz

# Reads ..97
[LIB]
avg_ins=175
reverse_seq=0
asm_flags=3
rank=1
rd_len_cutoff=100
pair_num_cutoff=3
map_len=32
q1=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819797.trim_1P.fastq.gz
q2=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819797.trim_2P.fastq.gz
q=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819797.trim_1U.fastq.gz
q=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819797.trim_2U.fastq.gz

# Reads ..98
[LIB]
avg_ins=3000
reverse_seq=1
asm_flags=2
rank=1
rd_len_cutoff=100
pair_num_cutoff=5
map_len=35
q1=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819798.trim_1P.fastq.gz
q2=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819798.trim_2P.fastq.gz
q=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819798.trim_1U.fastq.gz
q=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819798.trim_2U.fastq.gz

# Reads ..99
[LIB]
avg_ins=5500
reverse_seq=1
asm_flags=2
rank=1
rd_len_cutoff=100
pair_num_cutoff=5
map_len=35
q1=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819799.trim_1P.fastq.gz
q2=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819799.trim_2P.fastq.gz
q=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819799.trim_1U.fastq.gz
q=/home/magici/GA/data/sel3/wgs_data/sel3_SRR5819799.trim_2U.fastq.gz
